#gridArea {width:700px;
    height:700px;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    }

.gridRow {
    display: flex;
    justify-content: center;
    flex: 1;
    }

.gridBox {
    flex: 1;
    border: 0.5px solid black;
    }
 
 #buttonArea button {
     margin: 10px auto;
     display: block;
 }
